@import '../../partials/partials.scss';

.contact {
    height: 100%;
    background-color: #0e1309;
    overflow-x: hidden;
    &__ctn {
        padding: $rem-16 $rem-16 0 $rem-16;
        @include tablet {
            @include flex(row, space-between, "");
            padding: $rem-32 $rem-64 0 $rem-64;
        }
        @include desktop-small {
            padding: $rem-32 $rem-64 0 $rem-64;
        }
        @include desktop {
            padding: $rem-32 $rem-64 0 $rem-64;
        }
    }
    &__social-ctn {
        margin-bottom: $rem-32;
    }
    &__social {
        @include flex(row, "", center);
        margin-bottom: 1rem;
    }
    &__social-head {
        text-align: center;
        @include tablet {
            text-align: left;
        }
    }
    &__social-title {
        font-size: $rem-20;
        color: #fff;
        font-family: 'Red Hat Text', sans-serif;
        margin-bottom: $rem-8;
        @include tablet {
            font-size: $rem-16;
        }
    }
    &__social-text {
        font-size: $rem-16;
        color: #fff;
        font-family: 'Red Hat Text', sans-serif;
        margin-bottom: $rem-16;
    }
    &__url {
        font-family: 'Raleway', sans-serif;
        color: #fff;
        @include tablet {
            font-size: .8rem;
        }
    }
    &__icon {
        @include sizing(25px, 25px);
        margin-right: 1rem;
    }
    &__commit {
        margin-bottom: $rem-32;
    }
    &__commit-title {
        font-size: $rem-16;
        color: #fff;
        font-family: 'Red Hat Text', sans-serif;
        margin-bottom: $rem-16;
    }
    &__commit-msg {
        font-family: 'Raleway', sans-serif;
        color: #fff;
        line-height: 1.1rem;
        @include tablet {
            line-height: 1.1rem;
            text-align: justify;
            font-size: .8rem;
        }
    }
    &__navigate-title {
        font-size: $rem-20;
        color: #fff;
        font-family: 'Red Hat Text', sans-serif;
        margin-bottom: $rem-16;
        @include tablet {
            font-size: $rem-16;
        }
    }
    &__navigate {
        padding-bottom: $rem-32;
    }
    &__link {
        color: #CB2D3E;
        font-size: $rem-16;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        @include tablet {
            font-size: .8rem;
        }
    }
}

.footer-ctn {
    @include tablet {
        // @include flex(column, "", center);
        width: 25%;
        margin-right: -5.5rem;
    }
    @include desktop-small {
        margin-right: -10rem;
    }
    @include desktop {
        margin-right: -13.5rem;
    }
}