@import '../../partials/partials.scss';

.portfolio {
    background-color: #0E1414;
    // padding-top: $rem-32;
    height: 100%;
    &__title {
        text-align: center;
        font-size: $rem-20;
        text-transform: uppercase;
        font-family: 'Cantarell', sans-serif;
        margin-bottom: $rem-24;
        color: #fff;
        @include desktop-small {
            margin-bottom: $rem-40;
        }
        @include desktop{
            margin-bottom: $rem-40;
        }
    }
    &__ctn {
        @include flex(column, "", center);
        padding: 0 $rem-16 0 $rem-16;
        @include tablet {
            padding: 0 $rem-32 0 $rem-32;
        }
        @include desktop-small {
            padding: 0 $rem-48 0 $rem-48;
        }
    }
    &__project-ctn {
        @include tablet {
            @include flex (row);
        }
    }
    &__project-title {
        text-align: center;
        font-size: $rem-16;
        font-family: 'Cantarell', sans-serif;
        padding-bottom: $rem-24;
        color: #fff;
        @include tablet {
            display: none;
        }
    }
    &__project-title-2 {
        text-align: center;
        font-size: $rem-16;
        font-family: 'Cantarell', sans-serif;
        padding-bottom: $rem-24;
        color: #fff;
        display: none; 
        @include tablet {
            display: block;
        }
    }
    &__image-ctn {
        padding-bottom: $rem-16;
        
        @include desktop-small {
            max-width:50%;
        }
        @include desktop {
            max-width:50%;
        }
    }
    &__text-ctn {
        @include tablet {
            @include flex(column, space-evenly, center);
            height: 85%;
        }
    }
    &__image-border {
        position: relative;
        &::before {
            content: '';
            display: block;
            border: 1px solid #CB2D3E;
            height:90%;
            width: 100%;
            right: 8px;
            top: -8px;
            position: absolute;
           transition: all .3s ease-in;
            @include desktop-small {
                height: 94%;
            }
            @include desktop {
                height: 94%;
            }
        }
    }
    .portfolio__image-border:hover::before {
        right:-9px;
        top: 15px;
    }
    &__image {
        width: 100%;
        padding-bottom: $rem-16;
    }
    &__tech {
        @include flex(row, center, "");
        flex-wrap: wrap;
        font-family: 'Raleway', sans-serif;
    }
    &__tech-item {
        color: #fff;
        padding-right: $rem-8;
        line-height: 1.4rem;
    }
    &__text {
        font-family: 'Raleway', sans-serif;
        color: #fff;
        text-align: center;
        font-size: .9rem;
        line-height: 1.1rem;
        margin-bottom: $rem-32;
        @include tablet {
            width: 80%;
        }
        @include desktop-small {
            width: 80%;
        }
    }
    &__link-ctn {
        @include flex(row, center, "");
        flex-wrap: wrap;
    }
    &__link {
        font-family: 'Raleway', sans-serif;
        color: #fff;
        background-color: #CB2D3E;
        border: 1px solid #CB2D3E;
        padding: 15px 10px;
        width:80%;
        text-align: center;
        margin-bottom: $rem-16;
        border-radius: 25px;
        position: relative;
        transition: all .3s ease-in;
        &::before {
            content: '';
            display: block;
            position: absolute;
            border: 1px solid #fff;
            height: 100%;
            width: 100%;
            bottom: 5px;
            right: 4px;
            border-radius: 25px;
            transition: all .3s ease-in-out;
        }
    }
    .portfolio__link:hover::before {
        right: -7px;
    }
}