@import '../../partials/partials.scss';

.about {
    height: 100%;
    background-color: #0E1414;
    font-family: 'Raleway', sans-serif;
    padding: $rem-16;
    &__title {
        color: #fff;
        font-size: $rem-20;
        font-family: 'Cantarell', sans-serif;
        text-align: center;
        padding-bottom: $rem-24;
    }
    &__highlight {
        color: #fff;
        padding-bottom: $rem-16;
    } 
    &__text {
        color: #fff;
    } 
    &__resume {
        color: #fff;
    } 
}