@import '../../partials/partials.scss';

.site-nav__link:active, .site-nav__link:focus {
    border: 1px solid #ffffff;
    width: 110%;
}

.site-nav {
    @include flex(row, space-between, center);
    height: 10%;
    width: 100vw;
    padding: $rem-16 $rem-16 0 $rem-16;
    &__logo {
        font-family: 'Cantarell', sans-serif;
        font-size: .75rem;
        color: #ffffff;
       
    }
    &__ctn {
        @include flex(row, space-evenly, center);
        height:100%;
        width: 60%;
    }
    &__link {
        color: #ffffff;
        font-size: .75rem;
        font-family: 'Red Hat Text', sans-serif;
    }
        
}

