@import '../../partials/partials.scss';


.site-nav {
    @include flex(row, space-between, baseline);
    height: 10%;
    width: 100vw;
    padding: $rem-16 $rem-16 0 $rem-16;
    margin-bottom: $rem-32;
    position: fixed;
    top: 0;
    z-index: 5;
    @include tablet {
        padding: $rem-24 $rem-32 $rem-32 $rem-32;
    }
    @include desktop-small {
        padding: $rem-24 $rem-48 .1rem $rem-48;
        margin-bottom: $rem-32;
        position: fixed;
        top: 0;
        z-index: 5;
        background-color:rgba(14, 20, 20, .5);
    }
    @include desktop {
        padding: $rem-24 $rem-64 .1rem $rem-48;
        margin-bottom: $rem-32;
        position: fixed;
        top: 0;
        z-index: 5;
        background-color:rgba(14, 20, 20, .7);
    }
    &__logo {
        font-family: 'Cantarell', sans-serif;
        font-size: .75rem;
        color: #ffffff;
       @include tablet {
           font-size: $rem-16;
       }
       @include desktop {
           font-size: $rem-24;
       }
    }
    &__ctn {
        @include flex(row, space-evenly, center);
        height:100%;
        width: 60%;
        @include tablet {
            justify-content: flex-end;
        }
    }
    &__link {
        color: #CB2D3E;
        font-size: .75rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        // font-family: 'Red Hat Text', sans-serif;
        &::after {
            content: '';
            display: block;
            width: 0%;
            margin-top: 5px;
            height: 2px;
            background-color: #CB2D3E;
            transition: all .3s ease-in-out;
        }
        &:hover::after {
            width: 100%;
            background-color: #CB2D3E;
        }
        @include tablet {
            margin-left: 2rem;
            font-size: 1rem;
        }
        @include desktop {
            font-size: $rem-18;
        }
    }  
}

.selected {
    border-bottom: 2px solid red;
}

