@import '../../partials/partials.scss';

.hero {
    @include sizing (100%, 52vh);
    background-image: url('../Hero/HeroAssets/hero-img2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @include tablet {
        height: 75vh;
    }
    @include desktop-small {
        height:100vh;
    }
    @include desktop {
        height:100vh;
    }
    &__ctn {
        @include sizing(100%, 90%);
        @include flex(row, center, "");
    }
    &__content-ctn {
        @include sizing(90%, 80%);
        @include flex(row, center, center);
        position: relative;
        @include tablet {
            justify-content: center;
        }
    }
    &__content {
        position: absolute;
        top:33%;
        left: 20%;
        transform: translateX(100%);
        opacity: 0;
        @include tablet {
            left: 36%;
        }
        @include desktop-small {
            top: 30%;
            left: 35%;
        }
        @include desktop{
            top: 35%;
            left: 38%;
        }
    }
    &__circle {
        @include sizing(105px, 105px);
        transform:translateY(100%);
        opacity: 0;
        background-color: #000000;
        border: 10px solid #FF0000;
        -webkit-box-shadow: 0px 0px 20px 3px rgba(220,20,60,1);
        -moz-box-shadow: 0px 0px 20px 3px rgba(220,20,60,1);
        box-shadow: 0px 0px 20px 3px rgba(220,20,60,1);
        border-radius: 50%;
        margin-left: -60%;
        @include tablet {
            @include sizing(220px, 220px);
            margin-left: -40%;
            border: 15px solid #FF0000;
        }
        @include desktop-small {
            @include sizing(285px, 285px);
            border: 15px solid #FF0000;
        }
        @include desktop {
            @include sizing(380px, 380px);
            border: 20px solid #FF0000;
        }
    }
    &__head {
        color: #fff;
        font-size: $rem-24;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: $rem-8;
        @include tablet {
            font-size: $rem-36;
        }
        @include desktop-small {
            font-size: 3.25rem;
            padding-bottom: $rem-24;
        }
        @include desktop{
            font-size: $rem-56;
            padding-bottom: $rem-24;
        }
    }
    &__sub-head {
        color: #fff;
        padding-bottom: $rem-4;
        font-family: 'Red Hat Text', sans-serif;
        @include tablet {
            font-size: $rem-24;
        }
        @include desktop-small {
            font-size: $rem-32;
            padding-bottom: $rem-16;
            letter-spacing: .15rem;
        }
        @include desktop{
            font-size: $rem-24;
            padding-bottom: $rem-16;
            letter-spacing: .15rem;
        }
    }
    &__scroll-ctn {
        display: none;
        @include tablet{
            display: none;
        }
        @include desktop-small {
            @include flex(column, center, center);
            position: absolute;
            left: 50%;
            bottom: 3%;
        }
        @include desktop{
            @include flex(column, center, center);
            position: absolute;
            left: 50%;
            bottom: 3%;
        }
    }
    &__scroll-text{
        opacity: 0;
        font-family: 'Red Hat Text', sans-serif;
        font-size: $rem-18;
        color: #fff;
    }
    &__arrow {
        opacity: 0;
        // padding-top: $rem-10;
        height: 50px;
    }
}