@import '../../partials/partials.scss';

.hero {
    @include sizing (100%, 52vh);
    background-image: url('../Hero/HeroAssets/hero-img2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @include tablet {
        height: 75vh;
    }
    @include desktop-small {
        height:100vh;
    }
    @include desktop {
        height:100vh;
    }
    &__ctn {
        @include sizing(100%, 90%);
        @include flex(row, center, "");
    }
    &__content-ctn {
        @include sizing(90%, 80%);
        @include flex(row, center, center);
        position: relative;
        @include tablet {
            justify-content: center;
        }
    }
    &__content {
        position: absolute;
        top:33%;
        left: 20%;
        @include tablet {
            left: 36%;
        }
        @include desktop-small {
            top: 30%;
            left: 35%;
        }
        @include desktop{
            top: 35%;
            left: 38%;
        }
    }
    &__circle {
        @include sizing(125px, 125px);
        background-color: #808080;
        border-radius: 50%;
        margin-left: -60%;
        @include tablet {
            @include sizing(240px, 240px);
            margin-left: -40%;
        }
        @include desktop-small {
            @include sizing(300px, 300px);
        }
        @include desktop {
            @include sizing(400px, 400px);
        }
    }
    &__head {
        color: #fff;
        font-size: $rem-24;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: $rem-8;
        @include tablet {
            font-size: $rem-36;
        }
        @include desktop-small {
            font-size: 3.25rem;
            padding-bottom: $rem-24;
        }
        @include desktop{
            font-size: $rem-56;
            padding-bottom: $rem-24;
        }
    }
    &__sub-head {
        color: #fff;
        padding-bottom: $rem-4;
        font-family: 'Red Hat Text', sans-serif;
        @include tablet {
            font-size: $rem-24;
        }
        @include desktop-small {
            font-size: $rem-32;
            padding-bottom: $rem-16;
            letter-spacing: .15rem;
        }
        @include desktop{
            font-size: $rem-24;
            padding-bottom: $rem-16;
            letter-spacing: .15rem;
        }
    }
}